---
import ButtonProps from "../shared/ButtonProps.astro";

export interface Props {
  attentionParagraph: string;
  interestParagraph: string;
  desireParagraph: string;
  actionParagraph: string;
  websiteUrl?: string;
  img: string;
  img2: string;
}

const {
  attentionParagraph,
  interestParagraph,
  desireParagraph,
  actionParagraph,
  websiteUrl,
  img,
  img2,
} = Astro.props as Props;
// import ButtonProps from "../shared/ButtonProps.astro";
---

<div id="wrapper" class="2xl:my-3 flex justify-center bg-">
  <div
    id="flex"
    class="bg- lg:w-[1300px] bg- flex 2xl:flex-row flex-cols gap-5 2xl:p-5 lg:mt-[50px]"
  >
    <div id="sq1" class="bg-">
      <div id="imgs-container" class="bg-">
        <a href={websiteUrl}>
          <img id="img1" src={img} alt="" class="bg-" />
          <img id="img2" src={img2} alt="" class="sq-styles" />
        </a>
      </div>
    </div>

    <div id="sq2" class="bg- px-5">
      <div
        id="content"
        class="bg- flex flex-col lg:text-xl text-lg p-1 mt-5 mb-5"
      >
        <!-- -1) attention -->
        <!-- -2) interest -->
        <!-- -3) desire -->
        <!-- -4) action -->
        <p
          id="attentionParagraph"
          class="bg- text- text- text-4xl font-bold py-1 sq- text-"
        >
          {attentionParagraph}
        </p>

        <div id="padding-left" class="pl-1 space-y-5">
          <p id="" class="bg-">
            {interestParagraph}
          </p>
          <p class="bg-">
            {desireParagraph}
          </p>
          <p class="bg-">
            {actionParagraph}
          </p>
        </div>

        <ButtonProps btn1Link="/#about-cta" btn1="about" />
      </div>
    </div>
  </div>
</div>
