---
export interface Props {
  attentionParagraph: string;
  interestParagraph: string;
  desireParagraph: string;
  actionParagraph: string;
  websiteUrl?: string;
  img: string;
  img2: string;
  btn1: string;
  btn2: string;
  btn1Link: string;
  btn2Link: string;
}

const {
  attentionParagraph,
  interestParagraph,
  desireParagraph,
  actionParagraph,
  websiteUrl,
  img,
  img2,
  btn1,
  btn2,
  btn1Link,
  btn2Link,
} = Astro.props as Props;
---

<div id="wrapper" class="p-1">
  <div id="" class="">
    <div id="" class="2xl:p-5 px-3">
      <div id="content" class="bg- flex flex-col md:p-1 mb-5">
        <!-- -1) attention -->
        <!-- -2) interest -->
        <!-- -3) desire -->
        <!-- -4) action -->
        <h1 id="attentionParagraph" class="md:text-4xl text-2xl my-5">
          {attentionParagraph}
        </h1>

        <div id="padding-left" class="text-xl font-thin pt-1 pl-1 space-y-10">
          <p id="" class="bg-">
            <span class="text-carribean font-bold">- </span>
            {interestParagraph}
          </p>
          <p class="bg-">
            <span class="font-bold">- </span>{desireParagraph}
          </p>
          <p class="bg-">
            <span class="text-carribean font-bold">- </span>{actionParagraph}
          </p>
        </div>
      </div>
      <div id="btns-wrapper" class="pl-2 mt-[50px]">
        <div id="btns-container-flex" class="flex space-x-4">
          <!-- <button
            id="dynamic-btn"
            class="text-cerulean opacity-85 hover:opacity-100 sq-styles bg- text-"
          >
            <a href={btn1Link}>
              {btn1}
            </a>
          </button> -->

          <button
            id="contact-btn"
            class="bg-cerulean text-aquamarine opacity-85 hover:opacity-100 sq-styles"
          >
            <a href="mailto:elsahovey@gmail.com">
              {btn2}
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
