---
// import ButtonProps from "../shared/ButtonProps.astro";
// import DynamicAboutCTA from "./shared/DynamicAboutCta";

export interface Props {
  title: string;
  paragraph1: string;
  paragraph2: string;
  paragraph3: string;
  paragraph4: string;
  rightImg: string;
}

const { title, paragraph1, paragraph2, paragraph3, paragraph4, rightImg } =
  Astro.props as Props;
---

<div id="AboutSection1" class="bg- py-5 my-5">
  <div id="PROBLEM-SOLVING-wrapper" class="py-5">
    <div id="container" class="bg-">
      <div id="about-me-grid" class="grid md:grid-cols-2 grid-cols-1 gap-1">
        <div id="sq1" class="">
          <!-- <DynamicAboutCTA isLoggedIn={true} username="Address Key Problem" /> -->
          <!-- <DynamicAboutCTA isLoggedIn={false} username="test" /> -->
        </div>

        <!-- TODO: MAKE IMG CONDITIONAL V-->
        <div id="sq2" class="bg- row-span-2">
          <img
            id=""
            src={rightImg}
            alt=""
            class="sq-styles bg- lg:p-5 p-2 2xl:w-[450px] my-2 sq-styles"
          />
        </div>
        <!-- TODO: MAKE IMG CONDITIONAL ^-->

        <div id="sq3" class="bg- flex 2xl:justify-end">
          <div class="2xl:w-1/2 w-full md:pl-1 pl-3 md:pr-3 pr-1 pt-5">
            <h2 id="about-section1-title" class="font-bold text-3xl pb-2">
              {title}
            </h2>
            <p>
              {paragraph1}<p>
                <p>
                  {paragraph2}
                </p>
                <p class="py-1 mb-2">
                  {paragraph3}
                </p>
                <p>
                  {paragraph4}
                </p>
              </p>

              <!-- <ButtonProps
                btn1="view AboutSection2"
                btn1Link="/#view-AboutSection2"
              /> -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
