---
import Hero from "../components/sections/Hero.astro";
import Contact from "../components/sections/Contact.astro";
// import SiteCard from "../components/SiteCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Work from "../components/sections/Work.astro";
import About from "../components/sections/About.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import Packages from "../components/Packages.astro";

// const allFeaturedSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <div id="RIGHT SIDE" class="w-3/4">
    <div
      id="right-side-container"
      class="2xl:w-[1440px] lg:w-[700px] md:w-[500px] w- absolute top-0 right-0"
    >
      <Hero />

      <!-- TODO: PROBLEM SOLVING V -->

      <section id="about">
        <CenterPageBanner BannerTitle="About" />
        <About />
      </section>

      <!--  TODO:  TRUST THE (4 STEP) PROCESS V -->
      <section id="work">
        <CenterPageBanner BannerTitle="Work" />
        <Work />
      </section>

      <!-- TODO:  SOCIAL PROOF V -->

      <section id="packages">
        <CenterPageBanner BannerTitle="Packages" />
        <Packages />
      </section>

      <!-- 
      <div id="portfolio">
        <CenterPageBanner BannerTitle="Portfolio" />
        <div id="portfolio-wrapper" class="opacity-80 pt-1 px-5 bg-">
          <div
            id="portfolio-grid"
            class="flex flex-col gap-y-24 mt-5 pt-5 px-5"
          >
            {
              allFeaturedSites.map((work) => (
                <SiteCard
                  title={work.frontmatter.title}
                  image={work.frontmatter.image.url}
                  alt={work.frontmatter.image.alt}
                  url={work.url}
                  testItem1={work.frontmatter.testItem1}
                  websiteNumber={work.frontmatter.websiteNumber}
                />
              ))
            }
          </div>
        </div>
      </div> -->

      <!-- TODO: SOCIAL PROOF ^ -->

      <!-- TODO:  a.WHATS INCLUDED, b. pricing V -->
      <!-- a.WHATS INCLUDED, b. pricing ^-->

      <!--  TODO:  a.ABOUT ME (JOURNEY), b. final cta V -->
      <div id="contact">
        <CenterPageBanner BannerTitle="Contact" />
        <Contact />
      </div>
      <!-- ABOUT ME ^ -->
    </div>
  </div>
</MainLayout>
