---
import Hero from "../components/sections/Hero.astro";
import Contact from "../components/sections/Contact.astro";
import MainLayout from "../layouts/MainLayout.astro";
// import Card from "../components/shared/Card.astro";
import Portfolio from "../components/sections/Portfolio.astro";
// import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import About from "../components/sections/About.astro";
// import SiteCard from "../components/SiteCard.astro";
// const allFeaturedSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <Hero />
  <About />
  <Portfolio />

  <!-- NOTES SECTION v-->
  <!-- <div
      id="notes"
      class="flex justify-center bg-teal md:mt-[150px] pb-5 pl-2 text-"
    >
      <div id="blog-container" class="">
        <CenterPageBanner BannerTitle="Notes!" />
        <div
          id="grid"
          class="bg- pb-5 my-5 pt-5 pl-[45px] pr-[55px] grid md:grid-cols-2 grid-cols-1 gap-12"
        >
          {
            allSites.map((site) => (
              <Card
                title={site.frontmatter.title}
                image={site.frontmatter.image?.url}
                alt={site.frontmatter.title}
                pubDate={site.frontmatter.pubDate}
                testItem1={site.frontmatter.testItem1}
                category1={site.frontmatter.category1}
                category2={site.frontmatter.category2}
                url={site.url}
              />
            ))
          }
        </div>
      </div>
    </div> -->

  <!-- * PROJECTS SECTION v

  <section id="projects" class="px-5 mt-5">
    <div class="flex 2xl:flex-row flex-col p-5">
      {
        allFeaturedSites.map((work) => (
          <SiteCard
            title={work.frontmatter.title}
            image={work.frontmatter.image.url}
            alt={work.frontmatter.image.alt}
            url={work.url}
            testItem1={work.frontmatter.testItem1}
            websiteNumber={work.frontmatter.websiteNumber}
          />
        ))
      }
    </div>
  </section> -->

  <Contact />
</MainLayout>
