---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import SiteCard from "../components/SiteCard.astro";
import MainLayout from "../layouts/MainLayout.astro";

const allFeaturedSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <div id="flex" class="bg-munsell">
    <!--* LEFT SIDE v-->
    <div id="left-side" class="bg-test1 w-1/5">
      <Header />
    </div>
    <!-- *LEFT SIDE ^-->

    <!-- *RIGHT SIDE v-->
    <div id="right-side-wrapper" class="w-4/5">
      <div
        id="right-side-container"
        class="2xl:w-[1410px] lg:w-[700px] md:w-[500px] w- absolute top-0 right-0"
      >
        <About />
        <div id="websites-wrapper" class="mt-[350px] pt-1 px-5 bg-">
          <div id="websites-grid" class="flex flex-col gap-y-24 mt-5 pt-5 px-5">
            {
              allFeaturedSites.map((work) => (
                <SiteCard
                  title={work.frontmatter.title}
                  image={work.frontmatter.image.url}
                  alt={work.frontmatter.image.alt}
                  url={work.url}
                  testItem1={work.frontmatter.testItem1}
                  websiteNumber={work.frontmatter.websiteNumber}
                />
              ))
            }
          </div>
        </div>
        <Footer />
      </div>
      <!-- <Contact /> -->
      <!--* RIGHT SIDE ^-->
    </div>
  </div>
</MainLayout>
