---
const frontmatter = Astro.props;
const {
  title,
  image,
  alt,
  url,
  testItem1,
  websiteNumber,
  // testItem3,
  // testItem4,
} = frontmatter;
---

<div id="sq" class="ml-5 mr-[50px]">
  <a href={url}>
    <div class="">
      <div>{websiteNumber}</div>
    </div>
    <div class="font- opacity-80 text-onyx pb-5">
      <h2 class="text-4xl">{title}</h2>
      <!-- <p>12/12/25</p> -->
    </div>

    <img
      src={image}
      class="drop-shadow-xl rounded border border-gray-300"
      alt={alt}
    />
    <div
      id="post-excerpt"
      class="bg- flex text-onyx bg-papaya mb-5 pt- pb-3 drop-shadow-md"
    >
      <div class="mt-5 px-5">
        <p class="pt- pr-5 opacity-80 text-lg">{testItem1}</p>
        <div id="btn-wrapper" class="mt-2">
          <button
            class="bg-munsell text-aliceBlue px-2 py-1 rounded opacity-70 hover:opacity-100"
            >read more</button
          >
        </div>
      </div>
    </div>
  </a>
</div>
