---
const frontmatter = Astro.props;
const {
  title,
  image,
  alt,
  url,
  testItem1,
  websiteNumber,
  // testItem3,
  // testItem4,
} = frontmatter;
---

<div id="sq" class="opacity-70 hover:opacity-100 px-5 mt-5 pt-3">
  <a href={url}>
    <div class="pb-1 flex text-3xl">
      <div>{websiteNumber}.</div>
      <h2 class="ml-3">{title}</h2>
    </div>
    <img
      src={image}
      class="drop-shadow-xl rounded border border-munsell"
      alt={alt}
    />

    <div
      id="post-excerpt"
      class="bg- text-onyx bg-papaya mb-5 pb-3 drop-shadow-md"
    >
      <div class="mt-2 flex">
        <p class="pl-5 pr-1 opacity-80 text-lg">{testItem1}</p>
        <button class="text-munsell underline opacity-70 hover:opacity-100"
          >read more...</button
        >
      </div>
    </div>
  </a>
</div>
